{% extends "!layout.html" %}
{% block extrahead %}
    {{ super() }}

<!-- css theme_overrides.css -->
<link href="{{ pathto("_static/theme_overrides.css", True) }}" rel="stylesheet" type="text/css" />

<!-- css back top -->
<!--<link href="../_static/jquerysctipttop.css" rel="stylesheet" type="text/css" />-->
<link href="{{ pathto("_static/jquerysctipttop.css", True) }}" rel="stylesheet" type="text/css" />
<!--<link href="../_static/backTop.css" rel="stylesheet" type="text/css" />-->
<link href="{{ pathto("_static/backTop.css", True) }}" rel="stylesheet" type="text/css" />
<!-- Script -->
<!--<script type="text/javascript" src="../_static/jquery.min.js"></script> -->
<script type="text/javascript" src="{{ pathto("_static/jquery.min.js", True) }}"></script> 
 {% endblock %}


{% block footer %}
      {{ super() }}
	   <!-- script Back To Top  -->
      <div class="footerc">
          <a id='backTop'>Back To Top</a>
 <!-- script toptoback automatico mobile/desktop -->  
 <!-- <script type="text/javascript" src="../_static/jquery.backTop.min.js"></script> -->
<script type="text/javascript" src="{{ pathto("_static/jquery.backTop.min.js", True) }}"></script>
<script>
            $(document).ready( function() {
                $('#backTop').backTop({
                    'position' : 400,
                    'speed' : 300,
                    'color' : 'green',
					
					                });
            });
        </script>
      </div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b4bb71576b937aa"></script>

{% endblock %}
